python-pyfire_*
snakefire_*
python-pyfire-*/build/
python-pyfire-*/debian/python-pyfire/
python-pyfire-*/python-pyfire.egg-info/
snakefire-*/build/
snakefire-*/debian/snakefire/
snakefire-*/snakefire.egg-info/
