python-pyfire_*
snakefire_*
snakefire-kde_*
*/build/
python-pyfire-*/debian/python-pyfire/
python-pyfire-*/python-pyfire.egg-info/
snakefire-*/debian/snakefire/
snakefire-*/snakefire.egg-info/
snakefire-kde-*/debian/snakefire-kde/
