Source: python-pyfire
Maintainer: Rael Gugelmin Cunha <rael.gc@gmail.com>
Section: python
Priority: optional
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.5

Package: python-pyfire
Architecture: all
Depends: ${misc:Depends}, python (<< 2.8), python (>= 2.7), python-twisted, python-openssl
Description: Campfire API implementation in Python
 Pyfire provides an easy to use, full featured implementation of the Campfire 
 API in Python.
