[Desktop Entry]
Type=Application
Version=1.0.5
Name=Snakefire
GenericName=Campfire client
Exec=snakefire %U
Comment=Snakefire - A Linux desktop client for Campfire
Icon=snakefire
X-KDE-Protocols=snakefire
Terminal=false
Categories=Chat;Network;Development
