Source: snakefire
Maintainer: Rael Gugelmin Cunha <rael.gc@gmail.com>
Section: net
Priority: optional
Build-Depends: python-setuptools (>= 0.6b3), debhelper (>= 7), python-support (>= 0.8.4)
Standards-Version: 3.8.4

Package: snakefire
Architecture: all
Depends: ${python:Depends}, pyfire (>= 0.3.4), python-qt4, python3-keyring | python-keyring, python-enchant | python3-enchant
Description: A Campfire Desktop client for Linux
 Snakefire is a desktop client for Campfire that can run on Linux, and any other
 OS that has QT support.
