Source: snakefire
Maintainer: Rael Gugelmin Cunha <rael.gc@gmail.com>
Section: net
Priority: optional
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.5

Package: snakefire
Architecture: all
Depends: ${misc:Depends}, python (<< 2.8), python (>= 2.7), python-pyfire, python-qt4, python-keyring, python-enchant, python-notify
Description: Campfire Desktop client for Linux
 Snakefire is a desktop client for Campfire that can run on Linux and any other
 OS that has QT support.
